*{
    margin: 0;
    padding: 0;
}

#login-portal {
    position: absolute;
    top: 25%;
    bottom: 20%;
    left: 30%;
    right: 30%;
    background-color: rgb(235, 235, 235);
    border-radius: 4%;
    box-shadow: 15px 15px 15px rgb(17, 17, 41);
    opacity: 0.7;
}

#login-portal h1 {
    text-align: center;
}

footer {
    color: rgb(154, 156, 173);
}