*{
    margin: 0;
    padding: 0;
}

#login-portal {
    position: absolute;
    top: 20%;
    bottom: 15%;
    left: 35%;
    right: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 4%;
    box-shadow: 5px 10px 20px rgb(17, 17, 41);
}

#login-portal h1{
    padding: 8vh 0 6vh 0;
}

#login-portal p {
    margin-bottom: 1vh;
}

#input-form {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 25vw;
}

#input-form label {
    padding-top: 2vh;
}

#input-form input{
    height: 4vh;
    margin-bottom: 2vh;
}

#input-form input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

#input-form input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

#login-portal h1 {
    text-align: center;
}